
services:
  database:
    build: 
      context: ./backend/database
    ports:
      - "8011:8011"
    env_file:
      - ./backend/.env
    environment:
      - ENV=production
    restart: always

  sentiment:
    build:
      context: ./backend/sentiment
    ports:
      - "8012:8012"
    environment:
      - ENV=production
    restart: always

  emotion:
    build:
      context: ./backend/emotion
    ports:
      - "8013:8013"
    environment:
      - ENV=production
    restart: always
  
  propaganda:
    build:
      context: ./backend/propaganda
    ports:
      - "8014:8014"
    environment:
      - ENV=production
    restart: always
  
  factcheck:
    build:
      context: ./backend/fact-check
    ports:
      - "8016:8016"
    environment:
      - ENV=production
    restart: always

  scraper:
    build:
      context: ./backend/scraper
    ports:
      - "8015:8015"
    environment:
      - ENV=production
    restart: always

  application:
    build:
      context: ./application
    ports:
      - "8010:8010"
    environment:
      - ENV=production
      - DATABASE_URL=http://database:8011
      - SENTIMENT_URL=http://sentiment:8012
      - EMOTION_URL=http://emotion:8013
      - PROPAGANDA_URL=http://propaganda:8014
      - SCRAPER_URL=http://scraper:8015
      - FACTCHECK_URL=http://factcheck:8016
    depends_on:
      - database
      - sentiment
      - emotion
      - propaganda
      - scraper
      - factcheck
    restart: always

  telebot:
    build:
      context: ./telebot
    ports:
      - "8020:8020"
    env_file:
      - .env
    environment:
      - ENV=production
    restart: always

