youtube-transcript-api==0.6.3
fastapi
uvicorn[standard]
python-multipart
beautifulsoup4==4.12.3
lxml==6.1.0
newspaper3k==0.2.8
nltk==3.9.4
selenium
requests
APScheduler==3.10.4
boto3
langdetect==1.0.9
pytesseract
Pillow
yt-dlp