name: TF Destroy

on:
  workflow_dispatch:


jobs:
  build_image:
    name: Destroy Infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Write deployment credentials
        run: |
          echo '${{ secrets.GCP_CREDENTIALS }}' > infrastructure/tf/gcp_credentials.json


      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version:  1.8.2
      
      - name: Terraform Init
        working-directory: ./infrastructure/tf
        run: terraform init

      - name: Terraform Destroy
        working-directory: ./infrastructure/tf
        run: terraform destroy -auto-approve

      # gcloud compute network-endpoint-groups list --format="value(name,zone)" | while read name zone; do
      #   if [[ -z $(gcloud compute backend-services list --format="value(backends[].group)" | grep "$name") ]]; then
      #     gcloud compute network-endpoint-groups delete "$name" --zone="$zone" --quiet
      #   fi
      # done
      - name: Delete NEGs
        working-directory: ./infrastructure/tf
        run: |
          gcloud auth activate-service-account --key-file=gcp_credentials.json
          gcloud config set project ctrlaltelite-dcs-sentiment
          gcloud compute network-endpoint-groups list --format="value(name,zone)" | while read name zone; do
            if [[ -z $(gcloud compute backend-services list --format="value(backends[].group)" | grep "$name") ]]; then
              gcloud compute network-endpoint-groups delete "$name" --zone="$zone" --quiet
            fi
          done
        

